@media screen and (max-width: 960px){
	body { 
		overflow-x: hidden;
	}
	
	#menu {
		position: absolute;
		top: 140px;
		float: none;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
		clear: both;
		padding-top: 15px;
		padding-bottom: 15px;
		width: 100%;
		text-align: center;
		font-size: 14px;
		-moz-transition: border 0.3s 2.4s ease-out;
   		-o-transition: border 0.3s 2.4s ease-out;
    	-ms-transition: border 0.3s 2.4s ease-out;
		-webkit-transition: border 0.3s 2.4s ease-out;
    	transition: border 0.3s 2.4s ease-out;
	}
	
	#menu a, #menu span {
		margin:0 10px;
		opacity:0.7;
		letter-spacing:1px;
		line-height:22px;
	}
	
	#logo {
		position:absolute;
		left:50%;
		margin-left:-30px;	
	}
	
	#logotexte {
		position:absolute;
		top:80px;
		text-align:center;
		width:100%;
		height:65px;
		margin-top:15px;
		font-size:20px;
	}
			
	#logotexte span {
		font-size:14px;
	}
	
	#grid {
		top:300px;	
	}
	
	.left, .right {
		float:none;
		width:100%;
		margin:0;
	}
	
	.projet h2 {
		font-size: 26px;
		line-height: 30px;
		letter-spacing: 3px;
		margin: -16px 0 15px 15px;
	}
	
	.projet:hover h2 {
		margin: -16px 0 15px 15px;
	}
	
}