/* CSS Document */

body {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	background:url(../img/bg2.jpg) repeat;
	background-attachment:fixed;
	font-family:"Effra W01 Regular", Arial, sans-serif;
}

#bg {
	position:fixed;
	width:100%;
	height:100%;	
}


#header {
	position:absolute;
	z-index:2;
	width:78%;
	height:160px;	
	top:65px;
	left:50%;
	margin-left:-39%;
}

#menu {
	margin-top:20px;
	float:right;
	font-family:"Effra W01 Regular", Arial, sans-serif;
	font-size:13px;
	color:#000;
	text-transform:uppercase;
}

#menu a, #menu span {
	display:inline-block;
	color:#000;
	text-decoration:none;
	margin-left:40px;
	opacity:0.7;
	letter-spacing:1px;
	line-height:27px;
	background: linear-gradient(to right, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0.1) 50%);
	background-repeat: no-repeat;
	background-size: 200% 2px;
	background-position: right bottom;
    transition: opacity 0.2s ease-out, background-position 0.2s ease-out, color 0.3s 2.4s ease-out;
}



#menu a:hover, #menu span:hover {
	background-position: left bottom;
	opacity:1;
	cursor:pointer;
}

#logo {
	width:80px;
	height:80px;
	float:left;	
	margin-right:20px;
	cursor:pointer;
}

#logotexte {
	width:250px;
	height:65px;
	margin-top:15px;
	float:left;
	font-family:"Effra W01 Bold", Arial, sans-serif;
	font-weight:normal;
	font-size:18px;
	color:#000;
	text-transform:uppercase;
	letter-spacing:2px;
	transition: color 0.3s 2.4s ease-out;
	cursor:pointer;
}

#logotexte span {
	font-family:"Effra W01 Regular", Arial, sans-serif;
	font-size:13px;
	color:#000;
	opacity:0.4;
	font-weight:normal;
	letter-spacing:1px;
    transition: color 0.3s 2.4s ease-out;
}


/* Home Page */

#grid {
	position:absolute;
	width:78%;
	max-height:auto;	
	left:11%;
	z-index:1;
	top:200px;
	opacity:1;
	transition: max-height 0s 2.3s ease-out, top 1.5s cubic-bezier(0.260, 0.010, 0.000, 1.005), opacity 1.4s ease-out;
}
